.forecast-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--darken-secondary-color);
    border-radius: 10px;
    width: 100px;
    height: 80px;
    padding: 15px;
}

.forecast-day{
    padding-bottom: 10px;
}

.min-temp{
    font-size: 0.9em;
    color: grey;
}