.search-form {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 30%;
    min-width: 400px;
}

.search-field {
    width: 100%;
}


@media (max-width: 900px) {
    .search-form{
        width: 90%;
        min-width: 0;
    }
}
